{% load staticfiles %}
{% autoescape off %}
{% block mainblock %}
<!DOCTYPE html>
<html>
<head>
<title>Mailing TPS GO</title>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body style="margin: 0; padding: 0; min-width: 100%!important;">
  <table style="border-spacing:0px;font-family:arial;" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <table style="width: 100%; max-width: 800px;" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="width:100%;height:400px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-image: url('https://tpsgo.tpsv.cl/static/images/header.jpg');width:100%;text-align:center;">
                                <tr>
                                    <td>
                                        <img src="https://tpsgo.tpsv.cl/static/images/logo-tpsgo-login@3x.png" width="150" style="padding:24px 0px;">
                                    </td>
                                </tr>
                            </table>
                            <table style="background-color: white;width: 90%;height: 300px;padding: 14px 30px 20px 0px;font-family:Arial" align="center" border="0" cellpadding="0" cellspacing="0">
                                <tr><td style="font-size:15px;line-height: 16px;">Estimado Usuario,</td></tr>
                                <tr style="line-height: 14px;"><td style="font-weight:bold;font-size:15px">Hemos recibido una solicitud para restablecer su contraseña.</td></tr>
                                <tr><td style="font-size:15px;line-height:12px">Le solicitamos abrir el siguiente enlace, y seguir las instrucciones:</td></tr>
                                <tr><td style="line-height:18px;"><a href="{{ protocol }}://{{ domain }}/{{ location }}/{{ uid }}-{{ token }}/">{% block reset_link %}
                                {{ protocol }}://{{ domain }}/{{ location }}/{{ uid }}-{{ token }}/
                                {% endblock %}</a></td></tr>
                                <tr style="line-height: 14px;"><td style="font-style:italic;font-size:15px">Si usted no ha solicitado un cambio de contraseña, ignore este correo.</td></tr>
                                <tr style="line-height: 4px;font-size:15px"><td>Atte.</td></tr>
                                <tr style="line-height: 4px;font-size:15px"><td>Equipo de Soporte TPS GO.</td></tr>
                            </table>
                            <table align="center" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><img src="https://tpsgo.tpsv.cl/static/images/footer.jpg" width="100%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- <tr> -->
                        <!-- <td style="width:100%;height:115px;background-color:#8A8A8D;border-bottom:14px solid #C3D500;"> -->
                            <!-- <table style="background-color: white;width: 80%;height: 40px;border-radius: 0px 0px 15px 15px;" align="center" border="0" cellpadding="0" cellspacing="0">
                            </table>
                            <table align="center" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="width: 0px;height: 0px;border-width: 30px;border-style: solid;border-color: white transparent transparent;position:absolute;left:47%;">
                                    </td>
                                </tr>
                            </table> -->
                            <!-- <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 8px;margin-top: 36px;color:white;">
                                <tr><td style="text-align:center;font-size14px">www.campoclick.cl</td></tr>
                                <tr><td style="font-size:11px">Av. Manuel Montt 1164, Providencia, Santiago.</td></tr>
                            </table> -->
                            <!-- <table>
                                <tr style="margin-left:540px;display:inline-block;">
                                    <td>
                                        <a href="mailto:seguridad.saludocupacional@turbus.cl" target="_blank">
                                            <img src="http://200.91.41.176:4092/static/images/ico_mail_normal.png" width="50px">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="http://www.turbus.cl" target="_blank">
                                            <img src="http://200.91.41.176:4092/static/images/ico_web_normal.png" width="50px">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://facebook.com/Turbus" target="_blank">
                                            <img src="http://200.91.41.176:4092/static/images/ico_facebook_normal.png" width="50px">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://twitter.com/Turbus" target="_blank">
                                            <img src="http://200.91.41.176:4092/static/images/ico_twitter_normal.png" width="50px">
                                        </a>
                                    </td>
                                </tr>
                            </table> -->
                        <!-- </td> -->
                    <!-- </tr> -->
                </table>
            </td>
        </tr>
    </tbody>
  </table>
</body>
</html>
{% endblock %}
{% endautoescape %}