{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TPS GO</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/skin-blue.min.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!--bg_tour@3x.png-->
</head>
<body class="hold-transition login-page" style="background-image:url('/static/images/background.png'); background-size:100% 100%;">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><img src="{% static 'images/logo-tpsgo-login@3x.png' %}" width="220"></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <h4 style="text-align: center;">Restablecer contraseña</h4>
    <form action="" method="post" class="ta_center v_align">
        <div class="col s12 center">
            <p class="login-box-msg">Por favor, ingresa tu nueva contrase&ntilde;a dos veces para verificar si la escribiste de forma correcta. Ésta debe poseer un largo mínimo de 4 y máximo de 16 caracteres.</p>
        </div>
        {% if validlink %}
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <div class="form-group white-text">
                <input type="password" id="id_new_password1" name="new_password1" placeholder="Nueva contraseña" class="form-control" minlength="4" maxlength="16" pattern="[a-zA-Z0-9-]+">
                
            </div>
            {{ form.new_password2.errors }}
            <div class="form-group white-text">
                <input type="password" id="id_new_password2" name="new_password2" placeholder="Confirmar contraseña" minlength="4" maxlength="16" class="form-control" pattern="[a-zA-Z0-9-]+">
            </div>

            <div class="row"></div>
            <br/> 

            <div class="col s12 center">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Cambiar mi Contrase&ntilde;a</button>
            </div>

        {% else %}
            <p class="fs_1-8 mb_40">Cambio de contrase&ntilde;a fallido.</p>
            <p class="fs_1-4">
                El link para la recuperaci&oacute;n de contrase&ntilde;a es inv&aacute;lido posiblemente porque ya ha sido utilizado.
                Por favor, repite el proceso.
            </p>
        {% endif %}
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- jQuery 2.2.0 -->
<script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- iCheck -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
<script>
        $(document).on("ready", function(){
            $('body').css('background-image', 'url("static/app/img/bg_tour@3x.png")');
        });

    </script>
</body>
</html>