<div class="perfil-fondo full_cover"></div>
<div class="cortina full_cover"></div>

<div class="contenedor recover w90">
	<div class="d_table recover-cont">
		<div class="ta_center v_align">
			<p class="fs_1-8 mb_40">
				Te hemos enviado instrucciones a tu correo electr&oacute;nico para cambiar la contrase&ntilde;a. 
			</p>
			<p class="fs_1-8">
				Deber&iacute;as recibirlo prontamente.
			</p>
		</div>
	</div>
</div>