{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
	<li>
		<a href="{% url 'faq_list' %}">FAQ</a>
	</li>
	<li>
		<a href="#">Agregar FAQ</a>
	</li>
{% endblock %}

{% block page_title %}
	Agregar Nueva Pregunta Frecuente
{% endblock %}

{% block content %}
	<div class="box">
		<div class="box-body bod-padding">
			<input type="hidden" id="faq_id" value="{{ faq_id }}">
		<!-- Formulario -->
		<!-- <div class="container"> -->
		<form action="#" method="POST" id="faq_form">
			{% csrf_token %}
			{% crispy form %}
			<br /><br />
			<div class="alert alert-success" id="alert_ok" style="display: none">
				FAQ ha sido ingresada exitosamente
			</div>
			<div class="alert alert-danger" id="alert_error" style="display: none">
				Problema al ingresar FAQ
			</div>
			
			<div class="box-footer">
				<a class="btn btn-danger btn-lg back_report col-sm-12 col-md-12 col-lg-5" style="font-size:16px;padding:16px;" href=""><i class="fa fa-arrow-left" style="margin-right:10px;font-size:18px;"></i>
					Volver a Listado de FAQs
				</a>
				<button id="faq_btn" class="btn btn-success btn-lg col-sm-12 col-md-12 col-lg-6 pull-right" style="font-size:16px;padding:16px"><i class="fa fa-plus" style="margin-right:10px;font-size:18px"></i>Agregar Nueva FAQ</button>
			</div>
		</form>
		<!-- </div> -->
		<!-- Fin Formulario -->

		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/faq/add.js' %}"></script>
	<script>
		tinyMCE.init({
			selector: "textareas",
			setup: function (editor) {
		        editor.on('change', function () {
		            editor.save();
		        });
		    },
		});
	</script>
	
{% endblock %}