{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
	<li>
		<a href="{% url 'faq_list' %}">FAQ</a>
	</li>
	<li>
		<a href="#">Editar FAQ</a>
	</li>
{% endblock %}

{% block page_title %}
	Editar Pregunta Frecuente
{% endblock %}

{% block content %}
	<div class="alert alert-success" id="success_faq" style="display:none">
		<i class="fa fa-check"></i>&nbsp;	Pregunta frecuente fue actualizada con éxito.
	</div>
	<input type="hidden" id="faq_id" value="{{ faq_id }}">
	<div class="box">
		<div class="box-body box-padding">
			{% crispy form %}		
		
		<br /><br />

		<div class="box-footer">
			<a class="btn btn-danger btn-lg back_report col-sm-12 col-md-12 col-lg-5" style="font-size:16px;padding:16px;" href=""><i class="fa fa-arrow-left" style="margin-right:10px;font-size:18px;"></i>
				Volver a Listado de FAQs
			</a>
			<button class="btn btn-info btn-lg col-sm-12 col-md-12 col-lg-6 pull-right" id="btn_update" style="font-size:16px;padding:16px"><i class="fa fa-check" style="margin-right:10px;font-size:18px"></i>
				Editar Pregunta Frecuente
			</button>
		</div>

		</div>
		<!-- <div class="box-footer" style="margin-top:30px"> -->
		<!-- </div> -->
	</div>
	
{% endblock %}

{% block extra_js %}
	<script>
		tinyMCE.init({
			selector: "textareas",
			setup: function (editor) {
		        editor.on('change', function () {
		            editor.save();
		        });
		    },
		});
	</script>
	<script src="{% static 'app/faq/update.js' %}"></script>
{% endblock %}