{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
	<li>
		<a href="#" class="back_travel">Viajes Cancelados</a>
	</li>
	<li>
		<a href="#">Detalle Viaje</a>
	</li>
{% endblock %}

{% block page_title %}
	DETALLE VIAJE # {{ travel_id }}
{% endblock %}

{% block extra_head %}

<style>
      #map {
        height: 450px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
</style>

{% endblock %}

{% block content %}
	<input type="hidden" id="travel_id" value="{{ travel_id }}">
	<div class="row" >
		<div class="col-sm-12 col-md-6">
			
			<div class="box" style="background-color:rgb(249, 249, 249);">
		        <div class="box-body">
					
					<h3>Datos Usuario</h3><hr />
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><strong>RUT</strong></td>
								<td><span id="id_user_rut"></span></td>
							</tr>
							<tr>
								<td><strong>Nombre</strong></td>
								<td><span id="id_user_name"></span></td>
							</tr>
							<tr id="tr_user">
								<td><strong>Teléfono</strong></td>
								<td><span id="id_user_phone"></span></td>
							</tr>
							<tr id="tr_comment">
								<td><strong>Mail</strong></td>
								<td><span id="id_user_mail"></span></td>
							</tr>
						</tbody>
					</table>
					
					<br />
					
				</div>
			</div>

		</div>

		<div class="col-sm-12 col-md-6">
			
			<div class="box" style="background-color:rgb(249, 249, 249);">
		        <div class="box-body">
					
					<h3>Inicio Ruta</h3><hr />
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><strong>Lugar origen viaje</strong></td>
								<td><span id="id_route_from"></span></td>
							</tr>
							<tr>
								<td><strong>Fecha inicio viaje</strong></td>
								<td><span id="id_date_init"></span></td>
							</tr>
							<tr>
								<td><strong>Fecha cancelación viaje</strong></td>
								<td><span id="id_date_finish"></span></td>
							</tr>
							<tr>
								<td><strong>Distancia Recorrida</strong></td>
								<td><span id="id_route_distance"></span></td>
							</tr>
							<tr id="tr_user">
								<td><strong>Duración</strong></td>
								<td><span id="id_route_duration"></span></td>
							</tr>
							<tr id="tr_comment">
								<td><strong>Contenedores</strong></td>
								<td><span id="id_route_container"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box-header" style="background-color:white">
				
					<h3 class="pull-left">Historial Ruta de Viaje</h3>
					<a class="icon-white btn btn-primary pull-right" id="btn_export" href="export_canceled_detail/" style="vertical-align: middle; display: inline-block;margin-top:20px"><i class="fa fa-download"></i></a>
				
			</div>
			<div class="box-background">
			<hr />
				<div class="col-sm-12 col-md-6 table-responsive">
					<table class="table no-padding table-bordered table-striped" id="travel_table">
						<thead>
							<!-- finish_type = 2, viajes cancelados por el usuario. -->
							<!-- finish_type = 1, viajes terminados en forma normal, es decir, cuando el container es entregado. -->
							<tr>
								<th>Lat/Lng</th>
								<th>Fecha</th>
								<th>Distancia del TPS</th>
								<th>ETA</th>
								<th>Tramo</th>
							</tr>
						</thead>
						<tbody>
							<!-- Cargar datos -->
						</tbody>
					</table>
				</div>

				<div class="col-sm-12 col-md-6">
					<div class="box-gif"><img src="{% static 'images/loader2.gif' %}" alt=""></div>
					<div id="map" style="display:none"></div>
				</div>

				<div class="container">
		       		<div id="page-selection" class="col-sm-10 col-md-10"></div>
		      	</div>

				<div class="col-sm-12 col-md-12 col-lg-12 box-footer">
					<a class="btn btn-danger btn-lg back_travel col-sm-12 col-md-12 col-lg-5" id="btn_update" style="font-size:16px;padding:16px"><i class="fa fa-arrow-left" style="margin-right:10px;font-size:18px"></i>
						Volver a Listado de Viajes Cancelados
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block extra_js %}
	<script src="{% static 'app/jquery.bootpag.min.js' %}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe7ZTjgGR4aX3FfpoMA3x-cPEfP2CP8Uw&callback=initMap">
    </script>
	<script src="{% static 'app/tracking/canceled_detail.js' %}"></script>
	
{% endblock %}