{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
	<li>
		<a href="#">Listado de contactos asociados a contenedores</a>
	</li>
{% endblock %}

{% block page_title %}
	Listado de contactos asociados a contenedores
{% endblock %}

{% block content %}
	<div class="box" id="box-filter-travel" style="display:none">
		<div class="box-body box-padding">
			<form class="form-horizontal">
  			
  			<h4 class="title-table-filter">Filtrar Listado</h4>
			<table class="table filter-travel">
				<tbody>
				<tr>
					<td class="col-lg-2"><strong>Llegada</strong></td>
					<td class="col-lg-10">
					      <select name="#" id="id_arrival_type" class="form-control">
					      	<option value="0">-- Seleccione tipo de llegada --</option>
					      	<option value="2">LATE</option>
					      	<option value="1">En Hora</option>
					      </select>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom:10px">
				<p class="empty_query" style="display:none;">Debe ingresar fecha de inicio y/o tramo de viaje para aplicar filtros.</p>
				<a href="#" id="btn-search" class="btn btn-success pull-right"><i class="fa fa-search" style="margin-right:10px"></i>Aplicar Filtro</a>
				<a href="#" id="btn-list" class="btn btn-danger pull-right" style="margin-right:10px"><i class="fa fa-list" style="margin-right:10px"></i>Borrar Filtro</a>
			</div>
			</form>
		</div>
	</div>

	<div class="box">
		<div class="box-header">
			<div class="btn-group pull-right" role="group" aria-label="...">
			  	<a href="" id="btn_reload" class="btn btn-success icon-white"><i class="fa fa-refresh"></i></a></a>
			  	<a class="icon-white btn btn-primary" id="btn_export" href="export_travel/?url=/api/v1/user_location/"><i class="fa fa-download"></i></a>
			  	<a href="#" id="open-filter" class="icon-white btn btn-warning"><i class="fa fa-filter"></i></a>
			</div>
		</div>
        <div class="box-body no-padding table-responsive" id="box_travel_table">
			<table class="table table-bordered table-striped table-centered" id="contact_container_table">
				<thead>
					<div class="box-gif"><img src="{% static 'images/loader2.gif' %}" alt=""></div>
					<tr id="table_group">
						<th id="user__rut" width="150px"><a>RUT Usuario<i id="user__rut_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="user__last_name" width="150px"><a>Usuario<i id="user__last_name_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="contact__name"><a>Contacto<i id="contact__name_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="container__tracking_number"><a>Contenedor<i id="container__tracking_number_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="stacking_finish"><a>Fin Stacking<i id="stacking_finish_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="reception_date"><a>Fecha Entrega<i id="reception_date_desc" class="fa fa-sort-desc"></i></a></th>
					</tr>
				</thead>
				<tbody>
					<!-- Cargar datos -->
				</tbody>
			</table>
		</div>
		<div class="container">
	       <div id="page-selection" class="col-sm-10 col-md-10"></div>
	      </div>
		
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/tracking/contact_container.js' %}"></script>
	<script src="{% static 'app/jquery.bootpag.min.js' %}"></script>
{% endblock %}