{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
	<li>
		<a href="#" class="back_query">Consultas</a>
	</li>
	<li>
		<a href="#">Detalle Viaje</a>
	</li>
{% endblock %}

{% block page_title %}
	DETALLE CONSULTA # {{ query_id }}
{% endblock %}

{% block extra_head %}

<style>
      #map {
        height: 450px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
</style>

{% endblock %}

{% block content %}
	<input type="hidden" id="query_id" value="{{ query_id }}">
	<div class="row" >
		<div class="col-sm-12 col-md-6">
			
			<div class="box" style="background-color:rgb(249, 249, 249);">
		        <div class="box-body">
					
					<h3>Datos Usuario</h3><hr />
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><strong>RUT</strong></td>
								<td><span id="id_user_rut"></span></td>
							</tr>
							<tr>
								<td><strong>Nombre</strong></td>
								<td><span id="id_user_name"></span></td>
							</tr>
							<tr id="tr_user">
								<td><strong>Teléfono</strong></td>
								<td><span id="id_user_phone"></span></td>
							</tr>
							<tr id="tr_comment">
								<td><strong>Mail</strong></td>
								<td><span id="id_user_mail"></span></td>
							</tr>
						</tbody>
					</table>
					
					<br />
					
				</div>
			</div>

		</div>

		<div class="col-sm-12 col-md-6">
			
			<div class="box" style="background-color:rgb(249, 249, 249);">
		        <div class="box-body">
					
					<h3>Datos Consulta</h3><hr />
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><strong>Hora de consulta</strong></td>
								<td><span id="id_route_from"></span></td>
							</tr>
							<tr id="tr_comment">
								<td><strong>Contenedor</strong></td>
								<td><span id="id_route_container"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box-header" style="background-color:white">
				<h3>Lugar Origen de Consulta</h3><hr />
			</div>
			<div class="box-background">
				<div class="col-sm-12 col-md-12">
					<div class="box-gif"><img src="{% static 'images/loader2.gif' %}" alt=""></div>
					<div id="map" style="display:none"></div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-12 box-footer" style="margin-top:30px">
					<a class="btn btn-danger btn-lg back_query col-sm-12 col-md-12 col-lg-5" id="btn_update" style="font-size:16px;padding:16px"><i class="fa fa-arrow-left" style="margin-right:10px;font-size:18px"></i>
						Volver a Listado de Consultas
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block extra_js %}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe7ZTjgGR4aX3FfpoMA3x-cPEfP2CP8Uw&callback=initMap">
    </script>
	<script src="{% static 'app/tracking/query_detail.js' %}"></script>
	
{% endblock %}