{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
	<li>
		<a href="#">Historial de Consultas</a>
	</li>
{% endblock %}

{% block extra_head %}

<style>
      
      .query_loader {
		  max-height: 150px;
		  max-width: 150px;
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  margin: auto;
		}
</style>

{% endblock %}

{% block page_title %}
	Historial de Consultas Contenedores
{% endblock %}

{% block content %}
	<div class="box" id="box-filter-travel" style="display:none">
		<div class="box-body box-padding">
			<form class="form-horizontal">
  			
  			<h4 class="title-table-filter">Filtrar consultas</h4>
  			<table class="table filter-travel">
				<tbody>
				<tr>
					<td class="col-lg-2"><strong>Fecha Consulta</strong></td>
					<td class="col-lg-10"><input type="text" class="input_filter_date" name="input_filter_date" id="id_date" placeholder="Fecha Consulta"></td>
				</tr>
				</tbody>
			</table>
			<div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom:10px">
				<p class="empty_query" style="display:none;">Debe ingresar fecha de inicio y/o tramo de viaje para aplicar filtros.</p>
				<a href="#" id="btn-search" class="btn btn-success pull-right"><i class="fa fa-search" style="margin-right:10px"></i>Aplicar Filtro</a>
				<a href="#" id="btn-list" class="btn btn-danger pull-right" style="margin-right:10px"><i class="fa fa-list" style="margin-right:10px"></i>Borrar Filtro</a>
			</div>
			</form>
		</div>
	</div>

	<div class="box">
		<div class="box-body box-padding" id="box_query_chart">
			<div class="col-sm-12 col-md-12">
				<h3><strong>CONSULTAS POR REGIÓN</strong></h3><hr />
		        <div class="col-xs-12 col-md-6">
					
					<table class="table table-bordered">
						<tbody>
							<h4 id="no-register-graph-arrival" class="no-register-graph" style="display:none;margin-top:50px"><i>Por el momento no hay registro de consultas de contenedores.</i></h4>
							<div class="chart-box-gif"><img class="query_loader" src="{% static 'images/loader2.gif' %}" alt=""></div>
							<canvas id="regionChart" width="100" height="100"></canvas>	
						</tbody>
					</table>
					<br />
					
				</div>
				<div class="col-xs-12 col-md-6">
					<table class="table table-bordered table-centered" id="regionChart_table">
						<thead>
							<tr>
								<th></th>
								<th>Región</th>
								<th>Consultas</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					<br />
					
				</div>
			</div>
		</div>
	</div>

	<div class="box">

		<div class="box-header">
			<div class="btn-group pull-right" role="group" aria-label="...">
				<a href="" id="btn_reload" class="btn btn-success icon-white"><i class="fa fa-refresh"></i></a></a>
			  	<a class="icon-white btn btn-primary" id="btn_export" href="export_query/?url=/api/v1/travel_list/?finish_type=1"><i class="fa fa-download"></i></a>
			  	<a href="#" id="open-filter" class="icon-white btn btn-warning"><i class="fa fa-filter"></i></a>
			</div>
		</div>
        <div class="box-body no-padding table-responsive" id="box_travel_table">
			<table class="table table-bordered table-striped table-centered" id="query_table">
				<thead>
					<div class="box-gif"><img class="query_loader" src="{% static 'images/loader2.gif' %}" alt=""></div>
					<tr id="table_group">
						<th id="user__rut" width="150px"><a>RUT Usuario<i id="user__rut_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="user__last_name" width="150px"><a>Usuario<i id="user__last_name_desc" class="fa fa-sort-desc"></i></a></th>
						<th>Tel. Usuario</th>
						<th>Contenedor</th>
						<th id="timestamp" width="150px"><a>Fecha Consulta<i id="timestamp_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="region__real_name" width="150px"><a>Región<i id="region__real_name_desc" class="fa fa-sort-desc"></i></a></th>
						<th><i class="fa fa-ellipsis-v"></i></th>
					</tr>
				</thead>
				<tbody>
					<!-- Cargar datos -->
				</tbody>
			</table>
		</div>
		<div class="container">
	       <div id="page-selection" class="col-sm-10 col-md-10"></div>
	      </div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/jquery.bootpag.min.js' %}"></script>
	<script src="{% static 'plugins/chartjs/Chart2.js' %}"></script>
	<script src="{% static 'app/tracking/query.js' %}"></script>
{% endblock %}