{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
	<li>
		<a href="#">Historial de Viajes Cancelados</a>
	</li>
{% endblock %}

{% block extra_head %}

<style>
       .query_loader {
		  max-height: 150px;
		  max-width: 150px;
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  margin: auto;
		}
</style>

{% endblock %}

{% block page_title %}
	Historial de Viajes Cancelados
{% endblock %}

{% block content %}
	<div class="box">
		<div class="box-body box-padding">
			<h3><strong>VIAJES CANCELADOS (ÚLTIMOS 7 DÍAS)</strong></h3>
			<div class="col-xs-12 col-md-6">
				<table class="table table-bordered">
					<tbody>
						<div class="chart-container">
							<canvas id="cancelChart" width="200" height="200"></canvas>	
						</div>
					</tbody>
				</table>
				<br />
			</div>
			<div class="col-xs-12 col-md-6">
				<table class="table table-bordered table-centered" id="cancelChart_table">
					<thead>
						<tr>
							<th>Día</th>
							<th style="background-color: #fe8b8b;">Nº viajes cancelados</th>
							<th style="background-color: #74bfff;">Nº viajes realizados</th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
				<br />
				
			</div>
		</div>	
	</div>

	<div class="box" id="box-filter-travel" style="display:none">
		<div class="box-body box-padding">
			<form class="form-horizontal">
  			
  			<h4 class="title-table-filter">Filtrar viajes</h4>
  			<table class="table filter-travel">
				<tbody>
				<tr>
					<td class="col-lg-2"><strong>Fecha Cancelación</strong></td>
					<td class="col-lg-10"><input type="text" class="input_filter_date" name="input_filter_date" id="id_date" placeholder="Fecha Cancelación Viaje"></td>
				</tr>
				</tbody>
			</table>
			<div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom:10px">
				<p class="empty_query" style="display:none;">Debe ingresar fecha de inicio y/o tramo de viaje para aplicar filtros.</p>
				<a href="#" id="btn-search" class="btn btn-success pull-right"><i class="fa fa-search" style="margin-right:10px"></i>Aplicar Filtro</a>
				<a href="#" id="btn-list" class="btn btn-danger pull-right" style="margin-right:10px"><i class="fa fa-list" style="margin-right:10px"></i>Borrar Filtro</a>
			</div>
			</form>
		</div>
	</div>

	<div class="box" id="box_travel_table">
		<div class="box-header">

			<div class="btn-group pull-right" role="group" aria-label="...">
				<a href="" id="btn_reload" class="btn btn-success icon-white"><i class="fa fa-refresh"></i></a></a>
			  	<a class="icon-white btn btn-primary" id="btn_export" href="export_query/?url=/api/v1/travel_list/?finish_type=1"><i class="fa fa-download"></i></a>
			  	<a href="#" id="open-filter" class="icon-white btn btn-warning"><i class="fa fa-filter"></i></a>
			</div>
		</div>
        <div class="box-body no-padding table-responsive">
			<table class="table table-bordered table-striped table-centered" id="canceled_table">
				<thead>
					<div class="box-gif"><img class="query_loader" src="{% static 'images/loader2.gif' %}" alt=""></div>
					<tr id="table_group">
						<th id="user__rut" width="150px"><a>RUT Usuario<i id="user__rut_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="user__last_name" width="150px"><a>Usuario<i id="user__last_name_desc" class="fa fa-sort-desc"></i></a></th>
						<th>Tel. Usuario</th>
						<th>Contenedores</th>
						<th id="finish_date" width="150px"><a>Fecha Cancelación<i id="finish_date_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="duration" width="150px"><a>Duración<i id="duration_desc" class="fa fa-sort-desc"></i></a></th>
						<th><i class="fa fa-ellipsis-v"></i></th>

						
					</tr>
				</thead>
				<tbody>
					<!-- Cargar datos -->
				</tbody>
			</table>
		</div>
		<div class="container">
	       <div id="page-selection" class="col-sm-10 col-md-10"></div>
	      </div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/jquery.bootpag.min.js' %}"></script>
	<script src="{% static 'plugins/chartjs/Chart2.js' %}"></script>
	<script src="{% static 'app/tracking/canceled.js' %}"></script>
{% endblock %}