{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
	<li>
		<a href="#">Viajes Finalizados</a>
	</li>
{% endblock %}

{% block page_title %}
	LISTADO DE VIAJES FINALIZADOS
{% endblock %}

{% block content %}
	<div class="box" id="box-filter-travel" style="display:none">
		<div class="box-body box-padding">
			<form class="form-horizontal">
  			
  			<h4 class="title-table-filter">Filtrar viajes</h4>
  			<table class="table filter-travel">
				<tbody>
				<tr>
					<td class="col-lg-2"><strong>Fecha Finalización</strong></td>
					<td class="col-lg-10"><input type="text" class="input_filter_date" name="input_filter_date" id="id_date" placeholder="Fecha Finalización Viaje"></td>
				</tr>
				</tbody>
			</table>
			<div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom:10px">
				<p class="empty_query" style="display:none;">Debe ingresar fecha de inicio y/o tramo de viaje para aplicar filtros.</p>
				<a href="#" id="btn-search" class="btn btn-success pull-right"><i class="fa fa-search" style="margin-right:10px"></i>Aplicar Filtro</a>
				<a href="#" id="btn-list" class="btn btn-danger pull-right" style="margin-right:10px"><i class="fa fa-list" style="margin-right:10px"></i>Borrar Filtro</a>
			</div>
			</form>
		</div>
	</div>

	<div class="box" id="box_travel_table">
		<div class="box-header">
			<div class="btn-group pull-right" role="group" aria-label="...">
				<a href="" id="btn_reload" class="btn btn-success icon-white"><i class="fa fa-refresh"></i></a></a>
			  	<a class="icon-white btn btn-primary" id="btn_export" href="export_finalized/?url=/api/v1/travel_list/?finish_type=1"><i class="fa fa-download"></i></a>
			  	<a href="#" id="open-filter" class="icon-white btn btn-warning"><i class="fa fa-filter"></i></a>
			</div>			
		</div>
        <div class="box-body no-padding table-responsive">
			<table class="table table-bordered table-striped table-centered" id="travel_table">
				<thead>
					<div class="box-gif"><img src="{% static 'images/loader2.gif' %}" alt=""></div>
					<!-- finish_type = 2, viajes cancelados por el usuario. -->
					<!-- finish_type = 1, viajes terminados en forma normal, es decir, cuando el container es entregado. -->
					<tr id="table_group">
						<th id="user__rut" width="150px"><a>RUT Usuario<i id="user__rut_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="user__last_name" width="150px"><a>Usuario<i id="user__last_name_desc" class="fa fa-sort-desc"></i></a></th>
						<th>Tel. Usuario</th>
						<th>Contenedores</th>
						<th id="finish_date" width="150px"><a>Fecha Finalización<i id="finish_date_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="duration" width="150px"><a>Duración<i id="duration_desc" class="fa fa-sort-desc"></i></a></th>
						<th id="distance" width="150px"><a>KM Recorridos<i id="distance_desc" class="fa fa-sort-desc"></i></a></th>
						<th><i class="fa fa-ellipsis-v"></i></th>
					</tr>
				</thead>
				<tbody>
					<!-- Cargar datos -->
				</tbody>
			</table>
		</div>
		<div class="container">
	       <div id="page-selection" class="col-sm-10 col-md-10"></div>
	      </div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/jquery.bootpag.min.js' %}"></script>
	<script src="{% static 'app/tracking/finalized.js' %}"></script>
{% endblock %}