{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
	<li>
		<a href="#">Viajes en Curso</a>
	</li>
{% endblock %}

{% block page_title %}
	VIAJES EN CURSO
{% endblock %}

{% block extra_head %}

<style>
      #map {
        height: 450px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
</style>

{% endblock %}

{% block content %}
	<div class="box" id="box-filter-travel" style="display:none">
		<div class="box-body box-padding">
			<form class="form-horizontal">
  			
  			<h4 class="title-table-filter">Filtrar viajes</h4>
			<table class="table filter-travel">
				<tbody>
				<tr>
					<td class="col-lg-2"><strong>Tramo Viaje</strong></td>
					<td class="col-lg-10">
					      <select name="#" id="id_travel_step" class="form-control">
					      	<option value="0">-- Seleccione tramo de viaje --</option>
					      	<option value="1">Camino a ZEAL</option>
					      	<option value="2">En ZEAL</option>
					      	<option value="3">Camino a TPS</option>
					      	<option value="4">En TPS</option>
					      </select>
					</td>
				</tr>
				<tr>
					<td class="col-lg-2"><strong>Fecha Inicio</strong></td>
					<td class="col-lg-10"><input type="text" class="input_filter_date" name="input_filter_date" id="id_date" placeholder="Fecha Inicio Viaje"></td>
				</tr>
				</tbody>
			</table>
			<div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom:10px">
				<p class="empty_query" style="display:none;">Debe ingresar fecha de inicio y/o tramo de viaje para aplicar filtros.</p>
				<a href="#" id="btn-search" class="btn btn-success pull-right"><i class="fa fa-search" style="margin-right:10px"></i>Aplicar Filtro</a>
				<a href="#" id="btn-list" class="btn btn-danger pull-right" style="margin-right:10px"><i class="fa fa-list" style="margin-right:10px"></i>Borrar Filtro</a>
			</div>
			</form>
		</div>
	</div>

	<div class="box box-body no-padding" id="box_travel_table">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#map_travel">MAPA</a></li>
			<li><a data-toggle="tab" href="#list_travel">LISTADO</a></li>
		</ul>
		<div class="tab-content col-sm-12 col-md-12">
			<div class="box-header">
				<div class="btn-group pull-right" role="group" aria-label="...">
					<a href="" id="btn_reload" class="btn btn-success icon-white"><i class="fa fa-refresh"></i></a></a>
				  	<a class="icon-white btn btn-primary" id="btn_export" href="export_travel/?url=/api/v1/user_location/"><i class="fa fa-download"></i></a>
				  	<a href="#" id="open-filter" class="icon-white btn btn-warning"><i class="fa fa-filter"></i></a>
				</div>
			</div>

			<div id="map_travel" class="tab-pane fade in active">
				<div class="box-gif"><img src="{% static 'images/loader2.gif' %}" alt=""></div>
				<div id="map" style="display:none"></div>
			</div>

			<div id="list_travel" class="tab-pane fade">
		        <div class="table-responsive">
					<table class="table table-bordered table-striped table-centered" id="travel_table">
						<thead>
							<div class="box-gif"><img src="{% static 'images/loader2.gif' %}" alt=""></div>
							<tr id="table_group">
								<th id="user__rut" width="150px"><a>RUT Usuario<i id="user__rut_desc" class="fa fa-sort-desc"></i></a></th>
								<th id="user__last_name" width="150px"><a>Usuario<i id="user__last_name_desc" class="fa fa-sort-desc"></i></a></th>
								<th>Tel. Usuario</th>
								<th>Contenedores</th>
								<th id="travel__init_date" width="150px"><a>Inicio Viaje<i id="travel__init_date_desc" class="fa fa-sort-desc"></i></a></th>
								<th id="eta" width="150px"><a>ETA<i id="eta_desc" class="fa fa-sort-desc"></i></a></th>
								<th id="travel_step" width="150px"><a>Tramo<i id="travel_step_desc" class="fa fa-sort-desc"></i></a></th>
								<th><i class="fa fa-ellipsis-v"></i></th>
							</tr>
						</thead>
						<tbody>
							<!-- Cargar datos -->
						</tbody>
					</table>
				</div>
				
			  	<div class="container">
		       		<div id="page-selection" class="col-sm-10 col-md-10"></div>
		      	</div>
			</div>
		</div>

		
		
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/jquery.bootpag.min.js' %}"></script>
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe7ZTjgGR4aX3FfpoMA3x-cPEfP2CP8Uw&sensor=false&callback=initMap">
    </script>
	<script src="{% static 'app/tracking/travel.js' %}"></script>
{% endblock %}