{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
	<li>
		<a href="#">Listado de contactos TPS</a>
	</li>
{% endblock %}

{% block page_title %}
	Listado de Contactos TPS
{% endblock %}

{% block content %}
	<!-- Modal box para eliminar protocolo -->
	<div class="modal fade" id="deleteContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Eliminar Contacto</h4>
				</div>
				
				<div class="modal-body">
				<div id="_protocol"></div>
				¿ Está seguro de cerrar la eliminar el contacto seleccionado ?
				{% csrf_token %}
				</div>

				<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				<a type="button" href="#" class="btn btn-success" data-dismiss="modal" data-uri="" id="btn_confirm_delete">Sí, estoy seguro</a>
				</div>
			</div>
		</div>
    </div>
	<!-- Fin modal box -->

	<div class="box">
		<div class="box-header">
			<a href="{% url 'contact_add' %}" class="btn btn-success pull-right"><i class="fa fa-plus" style="margin-right:10px;font-size:16px"></i>Agregar Nuevo Contacto</a>
		</div>
        <div class="box-body no-padding table-responsive">
			<table class="table table-bordered table-striped table-centered" id="contact_table">
				<thead>
					<tr>
						<th>Contacto</th>
						<th>Teléfono(s)</th>
						<th style="min-width:80px"><i class="fa fa-ellipsis-v"></i></th>
					</tr>
				</thead>
				<tbody>
					<!-- Cargar datos -->
				</tbody>
			</table>
		</div>
		<div class="container">
	       <div id="page-selection" class="col-sm-10 col-md-10"></div>
	      </div>
		
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/jquery.bootpag.min.js' %}"></script>
	<script src="{% static 'app/contact/index.js' %}"></script>
{% endblock %}