{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
	<li>
		<a href="{% url 'contact_list' %}">Contactos</a>
	</li>
	<li>
		<a href="#">Editar Contacto</a>
	</li>
{% endblock %}

{% block page_title %}
	Editar Contacto
{% endblock %}

{% block content %}
	<div class="row" style="padding:12px 0px;background-color:white;">
		<input type="hidden" id="contact_id" value="{{ contact_id }}" />
		<div class="col-sm-12 col-md-12 col-lg-10">
			<div class="box">
				<div class="box-body box-padding" style="background-color:rgb(249, 249, 249);">
					{% crispy form %}
					<div class="form-group">
						<label for="id_phone_2" class="control-label">Teléfono 2</label>
						<div class="controls">
							<input type="text" name="phone_2" id="id_phone_2" maxlength="12" class="textinput textInput input-custom col-sm-12">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="alert alert-success" id="success_contact" style="display:none">
				<i class="fa fa-check"></i>&nbsp;	El contacto fue actualizado con éxito
			</div>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-12 box-footer" style="margin-top:30px">
			<a class="btn btn-danger btn-lg back_report col-sm-12 col-md-12 col-lg-5"style="font-size:16px;padding:16px;" href="{% url 'contact_list' %}"><i class="fa fa-arrow-left" style="margin-right:10px;font-size:18px;"></i>
				Volver a Listado de Contactos
			</a>

			<button class="btn btn-info btn-lg btn-lg pull-right col-sm-12 col-md-12 col-lg-6" id="btn_update" style="font-size:16px;padding:16px;"><i class="fa fa-check" style="margin-right:10px;font-size:18px"></i>Editar Contacto</button>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/functions.js' %}"></script>
	<script src="{% static 'app/contact/update.js' %}"></script>
{% endblock %}