{% extends "base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block breadcrumb %}
	<li>
		<a href="">Mensajes</a>
	</li>
	<li>
		<a href="#">Editar Mensaje</a>
	</li>
{% endblock %}

{% block page_title %}
	Editar Mensaje
{% endblock %}

{% block extra_head %}
<style>
    .swiper-container {
        width: 100%;
        height: 250px;
        margin: 10px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: black;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    </style>
{% endblock %}

{% block content %}
<!-- Modal box para eliminar protocolo -->
	<div class="modal fade" id="deleteImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Eliminar Mensaje</h4>
				</div>
				
				<div class="modal-body">
				<div id="_protocol"></div>
				¿ Estás seguro(a) de eliminar la imagen seleccionada ?
				{% csrf_token %}
				</div>

				<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				<a type="button" href="#" class="btn btn-success" data-dismiss="modal" data-uri="" id="btn_confirm_delete">Sí, estoy seguro(a)</a>
				</div>
			</div>
		</div>
    </div>
	<!-- Fin modal box -->
	<div class="row" style="padding:12px 12px;background-color:white;">
		<div class="box box-body" style="background-color:rgb(249, 249, 249);">

			<div class="alert alert-success" id="success_message" style="display:none">
				<i class="fa fa-check"></i>&nbsp;	Mensaje actualizado con éxito
			</div>
				
			<div class="col-sm-6">
				<input type="hidden" id="message_id" value="{{ message_id }}">
				<form action="#" method="POST" id="message_form">		
					
					<div class="box-body box-padding">	
						{% crispy form %}
					</div>
					<!-- <div class="box-footer">
						
					</div> -->
				</form>		
			</div>

			<div class="col-sm-6">
				<p style="font-size:18px">Imágenes de Mensaje (<span id="total_images"></span> de 5)</p>
				<!--<div class="alert alert-info">
					* Importante : Tiene un límite de máximo 5 imágenes
				</div>-->
				<div class="alert alert-warning" style="display:none" id="alert_total">
					<b id="alert_total_message">* Recuerde que puede subir un máximo de 5 imágenes por mensaje</b>
				</div>
				<form style="margin-top:10px;" id="new_image_form">
					<div class="input-group">
						<label class="input-group-btn">
						    <span class="btn btn-primary">
						        Buscar imagen&hellip; <input type="file" style="display: none;" id="new_image" multiple>
						    </span>
						</label>
						<input type="text" class="form-control" readonly>
					</div>
					<br />
				</form>
				
				<div id="loader" style="text-align:center; display:none">
					<img src="{% static 'images/loader.gif' %}" width="30" alt=""> &nbsp;&nbsp;&nbsp;Cargando imagen
				</div>
				<br />
				<div class=" col-sm-12">
					<b id="alert_error_message" style="display:none; color:red;">mensaje</b>
					<table class="table table-bordered table-striped" style="width:100%" id="new_image_table">
						<div class="swiper-container">
					        <div class="swiper-wrapper">
					        </div>
					        <!-- Add Pagination -->
					        <div class="swiper-pagination"></div>
					        <!-- Add Arrows -->
					        <div class="swiper-button-next swiper-button-white"></div>
					        <div class="swiper-button-prev swiper-button-white"></div>
					    </div>
					</table>

				</div>
			</div>

		</div>

		<div class="box-footer" style="margin-top:50px">
			<a class="btn btn-danger btn-lg back_report col-sm-12 col-md-12 col-lg-5" style="font-size:16px;padding:16px;" href=""><i class="fa fa-arrow-left" style="margin-right:10px;font-size:18px;"></i>
				Volver a Listado de Mensajes
			</a>

			<button id="message_btn" class="btn btn-info btn-lg pull-right col-sm-12 col-md-12 col-lg-6" style="font-size:16px;padding:16px"><i class="fa fa-check" style="margin-right:10px;font-size:18px"></i>Editar Mensaje</button>
		</div>
	</div>

{% endblock %}

{% block extra_js %}

	<script>
		$(document).on('change', ':file', function() {
	    var input = $(this),
	        numFiles = input.get(0).files ? input.get(0).files.length : 1,
	        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
	    input.trigger('fileselect', [numFiles, label]);
	});
	</script>
	<script src="{% static 'app/message_image/index.js' %}"></script>
	<script src="{% static 'app/message/update.js' %}"></script>
	
{% endblock %}