{% load staticfiles %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OpTEAMize</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="{% static 'app/img/favico.png' %}">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{% static 'cms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker-bs3.css' %}"></link>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Admin Menu Side -->
    <link rel="stylesheet" href="{% static 'plugins/admin-side-menu/admin-side-menu.css' %}"></link>
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="{% static 'dist/css/skins/skin-elun.css' %}">
    <!-- SWIPER -->
    <link rel="stylesheet" href="{% static 'swiper/dist/css/swiper.min.css' %}">
    <!-- SWIPEBOX -->
    <link rel="stylesheet" href="{% static 'plugins/swipebox/css/swipebox.min.css' %}"></link>
    {% block extra_head %}
    <!-- css. extras  -->
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <!--
  BODY TAG OPTIONS:
  =================
  Apply one or more of the following classes to get the
  desired effect
  |---------------------------------------------------------|
  | SKINS         | skin-blue                               |
  |               | skin-black                              |
  |               | skin-purple                             |
  |               | skin-yellow                             |
  |               | skin-red                                |
  |               | skin-green                              |
  |---------------------------------------------------------|
  |LAYOUT OPTIONS | fixed                                   |
  |               | layout-boxed                            |
  |               | layout-top-nav                          |
  |               | sidebar-collapse                        |
  |               | sidebar-mini                            |
  |---------------------------------------------------------|
  -->
  <body class="sidebar-mini skin-green">

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Cerrar Sesión</h4>
          </div>
          <div class="modal-body">
            ¿ Está seguro de cerrar la sesión actual ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            <a type="button" href="{% url 'logout' %}" class="btn btn-success">Sí, estoy seguro</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <input type="hidden" name="user" id="user" value="{{ user.id }}">
      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>T</b>G</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><img src="{% static 'images/logo-tpsgo-login@3x.png' %}" alt="" width="70"></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
             

              <!-- User Account Menu -->
              <li class="user user-menu">
                <!-- Menu Toggle Button -->
                <p class="name-admin">
                  <!-- The user image in the navbar-->
                  <img src="{% static 'images/profile.png' %}" class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">Hola, {{ user.first_name }}</span>
                </p>
                
              
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <div class="side-menu-container">
            <ul class="nav navbar-nav">
                <li><a class="stats-link" href=""><i class="fa fa-bar-chart"></i><span>Statistics</span></a></li>
                <li><a class="postulant-link" href="{% url 'postulant_list' %}"><i class="fa fa-users"></i><span>Postulants</span></a></li>

                <li class="title-section-sidebar">
                  <span>MAINTAINERS</span>
                </li>
                <li><a class="message-link" href=""><i class="fa fa-envelope"></i><span>Skills</span></a></li>
                <li><a class="message-link" href=""><i class="fa fa-envelope"></i><span>Soft Skills</span></a></li>
                <li><a class="faq-link" href=""><i class="fa fa-thumbs-up"></i> <span>Levels</span></a></li>
                <li><a class="contact-link" href=""><i class="fa fa-address-book"></i> <span>Universities</span></a></li>


                <li style="background-color: rgb(45, 55, 60);margin-top: 30px;border-bottom: 1px solid #b8c7ce;border-top: 1px solid #b8c7ce;">
                  <a href="#" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out"></i> <span>Cerrar Sesión</span></a>

                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <section class="content-header">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
              <ul class="breadcrumb" id="list_breadcrumbs">
                <li>
                  <i class="ace-icon fa fa-home home-icon"></i>
                  &nbsp;&nbsp;
                  <a href="{% url 'stats_view' %}">Inicio</a>
                </li>
                {% block breadcrumb %}
                {% endblock %}
              </ul><!-- /.breadcrumb -->
            </div>
          <h2 id="page_title_main" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;line-height:36px">
            {% block page_title %}{% endblock%}
            
          </h2>
           
        </section>

        <!-- Main content -->
       
        <section class="content">
            
            {% block content %}
            <!-- Your Page Content Here -->
            {% endblock %}
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          
        </div>
        <!-- Default to the left -->
        Desarrollado por : <a href="http://www.elun.cl" target="_blank">Elun</a>.</strong>
      </footer>
    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{% static 'plugins/daterangepicker/moment.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}"></script>
    <script src="{% static 'app/functions.js' %}"></script>
    <script src="{% static 'plugins/tinymce/jquery.tinymce.min.js' %}"></script>
    <!-- SWIPER -->
    <script src="{% static 'swiper/dist/js/swiper.jquery.min.js' %}"></script>
    <!-- SWIPEBOX -->
    <script src="{% static 'plugins/swipebox/js/jquery.swipebox.min.js' %}"></script>
  
    <script>
        $(function () {
            $('.navbar-toggle').click(function(){
                $('.navbar-nav').toggleClass('slide-in');
                $('.side-body').toggleClass('body-slide-in');
            });
        });
    </script>
    {% block extra_js %}
  
    {% endblock %}
  </body>
</html>

