{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>:: TPS-GO ::</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/skin-blue.min.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!--bg_tour@3x.png-->
  <style>
    .login-back{
   
      background-image: url('{% static 'images/background.png'%}');        
      background-repeat: no-repeat;        
      background-position: center center;
      background-size: cover;
      position: relative;            
      margin-left: auto;      
      margin-right: auto;       

    }
    .input_email_invalid {
      border-color: rgba(216, 16, 16, 0.8);
    }
    .send_email_ok {
      color: rgba(255, 255, 255, 0.7);
    }
    .send_email_error {
      color: rgba(255, 0, 0, 0.74);
    }
    .box-error{
      color: rgba(213, 0, 0, 0.6);
      letter-spacing: 0.5px;
      font-weight: 600;
      font-size: 15px;
    }
    .box-error-login{
      margin-bottom: 0px;
    }
  </style>
</head>
<body class="hold-transition login-page login-back">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><img src="{% static '' %}" alt="" width="220"></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body" style="background:rgba(255, 255, 255, 0.2); border-radius: 10px; padding:40px;">

    <form action="" method="post" id="form_login" name="form_login">
      <p class="login-box-msg" style="color:white">Ingrese datos para iniciar sesión</p>
      {% csrf_token %}
      <div class="form-group has-feedback">
        <i class="fa fa-address-card-o form-control-feedback"></i>
        <label class="control-label sr-only">Identificador</label>
        <input name="username" type="text" class="form-control date-picker" id="rut" name="rut" placeholder="Ingrese RUT." style="border-radius: 5px;" maxlength="12"/> 
        
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Ingrese Password." name="password" style="border-radius: 5px">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      
      {% if messages %}
        {% for message in messages %}

        <div class="alert box-error box-error-login">
          <i class="fa fa-exclamation-circle"></i>&nbsp; {{ message }}
        </div>

        {% endfor %}
      {% endif %}

      <div style="text-align:right;">
        <a href="#" style="color: white;font-style: italic;" id="recover_pass">Olvidé mi contraseña</a>
      </div>

      <div class="row">
        <!-- /.col -->
      <br />
      <p class="login-box-msg">
          <button type="submit" class="btn btn-primary btn-block btn-flat btn-info" style="padding:10px">INGRESAR</button>  
      </p>
      
        <!-- /.col -->
      </div>
    </form>

    <form action="" method="post" style="display:none" id="form_recover_pass">
      <p class="login-box-msg" style="color:white">Ingrese e-mail al cual te enviaremos un enlace para recuperar tu contraseña.</p>
      {% csrf_token %}
      <div class="form-group has-feedback">
        <i class="fa fa-address-card-o form-control-feedback"></i>
        <label class="control-label sr-only">Identificador</label>
        <input name="email" type="email" class="form-control date-picker" id="email_login" placeholder="Ingrese Email." maxlength="100" style="border-radius: 5px" /> 
        
      </div>
      <p style="display:none;text-align: center;" class="no_valid_email box-error">Debe ingresar un e-mail válido.</p>
      <p style="text-align:center;padding: 0px 12px;letter-spacing: 0.5px;font-weight: 600;" class="send_email"></p>
      <div style="text-align:right;">
        <a href="#" style="color: white;font-style: italic;" id="back_login"><i class="fa fa-arrow-left" style="margin-right:6px"></i>Volver al Login</a>
      </div>

      <div class="row">
        <!-- /.col -->
      <br />
      <div class="box_loader" style="text-align: center;margin-bottom: 20px;display:none">
        <img src="{% static 'images/turbus_loader.gif' %}" width="24">
      </div>
      <p class="login-box-msg">
          <a type="submit" class="btn btn-primary btn-block btn-flat btn-info" id="btn_recover" href="#" style="opacity:0.8; padding:10px">ENVIAR CORREO</a>  
      </p>
      
        <!-- /.col -->
      </div>
    </form>

  
    <!-- /.social-auth-links 
    <a href="#">Recuperar Contraseña</a><br>
    -->
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 2.2.0 -->
<script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
<!-- Functions Elun -->
<script src="{% static 'app/functions.js' %}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<script>
  $(function () {
    $("#rut").keyup(function () { 
      this.value = this.value.replace(/[^0-9\.\-\k]/g,'');
      Rut(this.value);
    });

    $("#recover_pass").click(function(){
      $("#form_recover_pass").show('fast');
      $("#form_login").hide();
    })

    $("#back_login").click(function(){
      $("#form_login").show('fast');
      $("#form_recover_pass").hide();
      $(".no_valid_email").hide();
      $("#email_login").removeClass('input_email_invalid');
      $(".send_email").hide();
      $('.box-error-login').hide();
    })

    $("#btn_recover").click(function(){
      $(".send_email").hide();
      var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      email = $("#email_login").val();
      if(!regex.test(email)) {
        $(".no_valid_email").show('fast');
        $("#email_login").addClass('input_email_invalid');
      } else {
        $(".box_loader").show();
        data_email = {}
        data_email.email = email;
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "/api/v1/user_password/reset/",
          "method": "POST",
          "headers": {
            "cache-control": "no-cache",
            "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val()
          },
          "processData": false,
          "contentType": "application/json",
          "data": JSON.stringify(data_email)
        }
        $.ajax(settings)
          .done(function(response){
            $(".box_loader").hide();
            $(".no_valid_email").hide();
            $("#email_login").removeClass('input_email_invalid');
            $(".send_email")
                    .show()
                    .addClass('send_email_ok')
                    .text(response["message"]);
          })
          .fail(function(e){
            console.log(e);
            $(".box_loader").hide();
            $(".send_email")
                    .show()
                    .text("Error, intente nuevamente.")
                    .addClass('send_email_error');
          })
      }
    })
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
<script>

</script>
</body>
</html>
