{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}

{% endblock %}
{% block extra_head %}

<style>  
   .chart_loader {
	  max-height: 150px;
	  max-width: 150px;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	}
	#page_title_main {
		display: none;
	}
	section.content {
		padding-top: 0px;
	}
</style>

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-sm-12 col-md-12 box">
			
			<div class="box-body box-padding" id="box_chart_index">
				
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#arrival_chart">CAMIONES VIAJANDO A ZEAL</a></li>
					<li><a data-toggle="tab" href="#wait_chart">TIEMPO DE ESPERA EN ZEAL</a></li>
				</ul>
				
				<div class="tab-content col-sm-12 col-md-12">
					<div id="arrival_chart" class="tab-pane fade in active">
						<h2><strong>CAMIONES VIAJANDO A ZEAL</strong></h2><hr />
				        <div class="col-xs-12 col-md-6">
							<table class="table table-bordered">
								<tbody>
									<h4 id="no-register-graph-arrival" class="no-register-graph" style="display:none"><i>Por el momento no hay registro de camiones que se dirijan a ZEAL.</i></h4>
									<div class="arrival-box-gif"><img class="chart_loader" src="{% static 'images/loader2.gif' %}" alt=""></div>
									<div class="chart-container">
										<canvas id="arrivalChart" width="200" height="200"></canvas>
									</div>
								</tbody>
							</table>
							<br />
							
						</div>
						<div class="col-xs-12 col-md-6">
							<table class="table table-bordered table-centered" id="arrivalChart_table">
								<thead>
									<tr>
										<th></th>
										<th>HORAS</th>
										<th>Nº CAMIONES</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
							<div>
								{% if user.group.id  == 1 %}
									<a href='/tracking/' class='btn btn-info btn-md pull-right'><i class='fa fa-list' style="margin-right:8px;"></i>Ver Listado</a>
								{% endif %}
							</div>
						</div>	
					</div>
					<div id="wait_chart" class="tab-pane fade">
						<h2><strong>TIEMPO DE ESPERA EN ZEAL</strong></h2><hr />
						<div class="row" style="    background-color: rgba(204, 204, 204, 0.21);margin-bottom:20px">
					    	<div class="col-md-12">
						    	<div class="form-group" style="margin-top:12px">
								    <label for="waitChart_filter_date">SELECCIONE RANGO DE FECHAS:</label>
								    <input type="text" id="waitChart_filter_date" name="waitChart_filter_date" class="form-control" >
								 </div>
								 <div class="form-group">
								 	<button id="waitChart_btn_filter" class="btn btn-success">Filtrar información</button>
								 </div>
							 </div>
					    </div>
				        <div class="col-xs-12 col-md-6">
							<table class="table table-bordered">
								<tbody>
									<h4 id="no-register-graph-waiting" class="no-register-graph" style="display:none"><i>No se registran datos en el rango de fechas seleccionadas.</i></h4>
									<div class="wait-box-gif"><img  class="chart_loader" src="{% static 'images/loader2.gif' %}" alt=""></div>
									<div class="chart-container">
										<canvas id="waitChart" width="200" height="200"></canvas>
									</div>
								</tbody>
							</table>
						</div>
						<div class="col-xs-12 col-md-6">
							<table class="table table-bordered table-centered" id="waitChart_table">
								<thead>
									<tr>
										<th></th>
										<th>HORAS</th>
										<th>Nº CAMIONES</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
							<br />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}

{% block extra_js %}
	
	<script src="{% static 'plugins/chartjs/Chart2.js' %}"></script>
	<script src="{% static 'app/stats/index.js' %}"></script>
{% endblock %}