{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
	<li>
		<a href="{% url 'admin_list' %}">Administradores</a>
	</li>
	<li>
		<a href="#">Agregar Admin</a>
	</li>
{% endblock %}

{% block page_title %}
	Agregar Nuevo Administrador
{% endblock %}


{% block content %}
	<div class="box">

		<div class="box-body box-padding">
			{% crispy form %}
			<br />
		</div>
		<div class="alert alert-success" id="success_api" style="display:none">
			<i class="fa fa-check"></i>&nbsp;	El administrador fue creado con éxito.
		</div>
		<div class="box-footer">
			<a class="btn btn-danger btn-lg back_report col-sm-12 col-md-12 col-lg-5" style="font-size:16px;padding:16px;" href="{% url 'admin_list' %}"><i class="fa fa-arrow-left" style="margin-right:10px;font-size:18px;"></i>
					Volver a Listado de Administradores
				</a>
			<button class="btn btn-success btn_add col-sm-12 col-md-12 col-lg-6 pull-right" id="btn_add btn-lg" style="font-size:16px;padding:16px"><i class="fa fa-plus" style="margin-right:10px;font-size:18px"></i>Agregar Nuevo Administrador</button>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/admin/add.js' %}"></script>
{% endblock %}