{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
	<li>
		<a href="#">Administradores registrados</a>
	</li>
{% endblock %}

{% block page_title %}
	Listado de Administradores TPS-GO
{% endblock %}

{% block content %}
	<div class="box">
		<div class="box-header">
			<a href="{% url 'admin_add' %}" class="btn btn-success pull-right"><i class="fa fa-plus" style="margin-right:10px;font-size:16px"></i>Agregar Administrador</a>
		</div>
        <div class="box-body no-padding">
        <div class="table-responsive">
			<table class="table table-bordered table-striped table-centered" id="admin_table">
				<thead>
					<tr>
						<th>RUT Admin</th>
						<th>Administrador</th>
						<th>Perfil</th>
						<th>Tel. admin</th>
						<th>E-mail</th>
						<th><i class="fa fa-ellipsis-v"></i></th>
					</tr>
				</thead>
				<tbody>
					<!-- Cargar datos -->
				</tbody>
			</table>
		</div>
		</div>
		<div class="container">
	       <div id="page-selection" class="col-sm-10 col-md-10"></div>
	      </div>
		
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/jquery.bootpag.min.js' %}"></script>
	<script src="{% static 'app/admin/index.js' %}"></script>
{% endblock %}