{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'admin_list' %}">Administradores</a>
    </li>
    <li>
        <a href="#">Editar Admin</a>
    </li>
{% endblock %}

{% block page_title %}
    EDITAR CONTRASEÑA DE ADMINISTRADOR
{% endblock %}

{% block content %}
    <div class="alert alert-success" id="success_api" style="display:none">
        <i class="fa fa-check"></i>&nbsp;   El administrador fue actualizado con éxito.
    </div>
    <div class="box">
        <input type="hidden" id="admin_id" value="{{ admin_id }}">
        <div class="box-body box-padding">
        <form action="" method="PUT" id="admin_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="password" class="control-label">Escriba una contraseña para este administrador</label>
                <div class="controls">
                    <input type="password" name="password" class="textinput textInput form-control" lenght="30" id="password">
                </div>  
            </div>
            <div class="form-group">
                <label for="password_2">Confirme la contraseña</label>
                <div class="controls">
                    <input type="password" name="password_2" class="textinput textInput form-control" lenght="30" id="password_2">
                </div>
            </div>
            <br />
            <div id="message" class="card-panel" style="display:none">
            </div>
        </form>
        </div>
        <div class="box-footer">
            <a class="btn btn-danger btn-lg back_report col-sm-12 col-md-12 col-lg-5" style="font-size:16px;padding:16px;" href="{% url 'admin_list' %}"><i class="fa fa-arrow-left" style="margin-right:10px;font-size:18px;"></i>
                Volver a Listado de Administradores
            </a>
            <button class="btn btn-info btn-lg col-sm-12 col-md-12 col-lg-6 pull-right" style="font-size:16px;padding:16px" id="btn_update"><i class="fa fa-check" style="margin-right:10px;font-size:18px"></i>Editar Contraseña de Administrador</button>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'app/admin/password.js' %}"></script>
{% endblock %}


