{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
	<li>
		<a href="{% url 'admin_list' %}">Administradores</a>
	</li>
	<li>
		<a href="#">Editar Admin</a>
	</li>
{% endblock %}

{% block page_title %}
	Editar Administrador
{% endblock %}

{% block content %}
	<div class="box">
		<input type="hidden" id="admin_id" value="{{ admin_id }}">
		<div class="box-body box-padding">
		<form action="" method="PUT" id="admin_form">
	        {% csrf_token %}
	        <div class="form-group">
	            <label for="first_name" class="control-label">RUT</label>
	            <div class="controls">
	            	<input type="text" name="rut" class="textinput textInput form-control" lenght="30" id="id_rut">
	            </div>	
	        </div>
	        <div class="form-group">
	            <label for="first_name">Nombre</label>
	            <div class="controls">
	            	<input type="text" name="first_name" class="textinput textInput form-control" lenght="30" id="id_first_name">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="last_name">Apellidos</label>
	            <div class="controls">
	            	<input type="text" name="last_name" class="textinput textInput form-control" lenght="50" id="id_last_name">
	            </div>
	        </div>
	       <div class="form-group">
	            <label for="last_name">E-mail</label>
	            <div class="controls">
	            	<input type="email" name="email" class="textinput textInput form-control" lenght="50" id="id_email">
	        	</div>
	        </div>
	        <div class="form-group">
	            <label for="last_name">Teléfono</label>
	            <div class="controls">
	            	<input type="text" class="textinput textInput input-custom col-xs-3 col-sm-1" value="+569" disabled="disabled">
	            	<input type="text" name="contact_phone" class="textinput textInput input-custom col-xs-9 col-sm-11" maxlength="8" id="id_contact_phone">
	        	</div>
	        </div>
	        <div class="form-group">
	            <label for="last_name">Perfil Administrador</label>
	            <div class="controls">
	            	<select name="group" id="id_group" class="select form-control"></select>
	        	</div>
	        </div>
	        <br />
	        <div id="admin_medicalcenter_message" class="card-panel" style="display:none">
	            
	        </div>
	    </form>

		</div>
		<div class="alert alert-success" id="success_api" style="display:none">
			<i class="fa fa-check"></i>&nbsp;	El administrador fue actualizado con éxito.
		</div>
		<div class="box-footer">
			<a class="btn btn-danger btn-lg back_report col-sm-12 col-md-12 col-lg-5" style="font-size:16px;padding:16px;" href="{% url 'admin_list' %}"><i class="fa fa-arrow-left" style="margin-right:10px;font-size:18px;"></i>
				Volver a Listado de Administradores
			</a>
			<button class="btn btn-info btn-lg col-sm-12 col-md-12 col-lg-6 pull-right" style="font-size:16px;padding:16px" id="btn_update"><i class="fa fa-check" style="margin-right:10px;font-size:18px"></i>Editar Administrador</button>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/admin/update.js' %}"></script>
{% endblock %}