{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
	<li>
		<a href="{% url 'postulant_list' %}">Applicant</a>
	</li>
	<li>
		<a href="#">Add Applicant</a>
	</li>
{% endblock %}

{% block page_title %}
	Add Applicant
{% endblock %}

{% block content %}
	<div class="row" style="padding:12px 0px;background-color:white;">
		
		<div class="col-sm-12 col-md-12 col-lg-10">
			<div class="box">
				<div class="box-body box-padding" style="background-color:rgb(249, 249, 249);">
					{% crispy form %}
				</div>
				
			</div>
		</div>
	
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="alert alert-success" id="success_contact" style="display:none">
				<i class="fa fa-check"></i>&nbsp;The applicant was saved successfully.
			</div>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-12 box-footer" style="margin-top:30px">
			<a class="btn btn-danger btn-lg back_report col-sm-12 col-md-12 col-lg-5" id="btn_update" style="font-size:16px;padding:16px;" href="{% url 'contact_list' %}"><i class="fa fa-arrow-left" style="margin-right:10px;font-size:18px;"></i>
				Back to list
			</a>

			<button class="btn btn-success btn-lg pull-right col-sm-12 col-md-12 col-lg-6" id="btn_add" style="font-size:16px;padding:16px;"><i class="fa fa-plus" style="margin-right:10px;font-size:18px"></i>Save Applicant</button>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/postulant/add.js' %}"></script>
{% endblock %}