{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
	<li>
		<a href="#">Usuarios registrados</a>
	</li>
{% endblock %}

{% block page_title %}
	Listado Usuarios Registrados  en TPS-GO
{% endblock %}

{% block content %}
	<div class="box" id="box-filter-travel" style="display:none">
		<div class="box-body box-padding">
			<form action="" class="form-horizontal" id="form_login"  name="form_login">
  			
  			<h4 class="title-table-filter">Filtrar usuarios por rut o nombre</h4>
			<table class="table filter-travel">
				<tbody>
				<tr>
					<td class="col-lg-2"><strong>Rut o nombre de usuario</strong></td>
					<td class="col-lg-10"><input name="username" type="text" class="form-control date-picker" id="rut" name="rut" placeholder="Ingrese RUT o Nombre." style="border-radius: 5px"/> </td>
				</tr>
				</tbody>
			</table>
			<div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom:10px">
				<p class="empty_query" style="display:none;">Debe ingresar rut o nombre de usuario para aplicar filtros.</p>
				<a href="#" id="btn-search" class="btn btn-success pull-right"><i class="fa fa-search" style="margin-right:10px"></i>Buscar</a>
				<a href="#" id="btn-list" class="btn btn-danger pull-right" style="margin-right:10px"><i class="fa fa-list" style="margin-right:10px"></i>Borrar Filtro</a>
			</div>
			</form>
		</div>
	</div>
	<div class="box box-body no-padding">
	<div class="tab-content col-sm-12 col-md-12">
		<!-- <a class="btn btn-add col-lg-3 col-md-4 col-sm-5 col-xs-12 pull-right" id="btn_export" href="{% url 'user_export' %}"><span class="glyphicon glyphicon-download-alt" style="margin-right:10px;font-size:16px"></span>Exportar Usuarios de 'TPS'</a> -->
		<div class="box-header">
			<div class="btn-group pull-right" role="group" aria-label="...">
				<a href="" id="btn_reload" class="btn btn-success icon-white"><i class="fa fa-refresh"></i></a></a>
			  	<a class="icon-white btn btn-primary" id="btn_export" href="{% url 'user_export' %}"><i class="fa fa-download"></i></a>
			  	<a href="#" id="open-filter" class="icon-white btn btn-warning"><i class="fa fa-filter"></i></a>
			</div>
		</div>

        <div class="table-responsive">
			<table class="table table-bordered table-striped table-centered" id="user_table">
				<thead>
					<tr>
						<th>RUT Usuario</th>
						<th>Usuario</th>
						<th>Tel. Usuario</th>
						<th>E-mail</th>
						<th style="min-width:80px"><i class="fa fa-ellipsis-v"></i></th>
					</tr>
				</thead>
				<tbody>
					<!-- Cargar datos -->
				</tbody>
			</table>
		</div>
		<div class="container">
	       <div id="page-selection" class="col-sm-10 col-md-10"></div>
	      </div>
	</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'app/functions.js' %}"></script>
	<script src="{% static 'app/jquery.bootpag.min.js' %}"></script>
	<script src="{% static 'app/user/index.js' %}"></script>
{% endblock %}