.tastypie_error{
	color: #a94442;
	background-color: #f2dede;
	border-color: #a94442;
}
.name-admin:hover {
	background: none !important;
}
.side-menu-container .nav li {
	width: 100%;
}
.navbar-nav > li > a:focus {
	background: none !important;
	color: #fff !important;
}
.navbar-nav > li > a:hover {
	background: #6e7e86 !important;
	color: #fff !important;
}
.navbar-nav > li > a.active-link {
	background: rgba(69, 83, 90, 0.6) !important;
	color: #fff !important;
}
.nav-tabs>:not(.active)>a:hover, .nav-tabs>:not(.active)>a:active, .nav-tabs>:not(.active)>a:focus {
	color: #fff !important;
}
.panel-body {
	padding: 0;
}
.navbar-nav {
	width: 100%;
}
.navbar-nav li i {
	margin-right: 10px;
}
textarea {
	resize: none;
}
.title-section-sidebar {
	color: #b8c7ce;
    font-weight: bold;
    padding: 6px 15px 8px 15px;
    border-bottom: 1px solid;
}
.empty_query {
	color: #ff0808;
    font-weight: 600;
}
.panel-body {
	padding: 0px 20px !important;
}
.panel-body .navbar-nav a {
	padding-top: 12px;
	padding-bottom: 12px;
}
.input-custom {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}
/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}
.box-background {
	background-color: white;
	width: 100%;
	position: relative;
	float: left;
}
.box-gif {
	position: relative;
	text-align: center;
	height: 450px;
	width: 100%;
	border: 1px solid #f4f4f4;
}
.box-gif img {
	margin-top: 160px;
	width: 80px
}
.input_filter_date {
	width: 100%;
	height: 34px;
	padding: 0px 14px;
}
.filter-travel tr {
	border: none;
}
.filter-travel td {
	border: 1px solid #ccc !important;
	vertical-align: middle !important;
	background-color: #cccccc4d;
}
.title-table-filter {
	margin-bottom: 20px;
	border-bottom: 2px solid #cccccc4d;
	padding-bottom: 6px;
}
.fa-sort-desc, .fa-sort-asc {
	margin-left: 6px;
}
.fa-sort-desc {
	vertical-align: text-top;
}
.fa-sort-asc {
	vertical-align: bottom;
}
.no-register-graph{
	margin-top: 200px;
}
.btn-icon {
	padding: 0px 5px !important;
}
.table-centered {
	text-align: center;
}
.table-centered th {
	text-align: center;
}
.text-ellipsis {
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 64px;
}
.icon-white {
	color: white;
}
.btn-excel {
	background-color: #046f3e;
	border-color: #015830;
}
button a:hover, button a:active, button a:focus {
	color: white;
}
.btn-filter-active{
	background-color: #e08e0b !important;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125) !important;
}
.text-late, .text-in-hour {
	display: inline;
    margin-left: 4px;
    font-weight: bold;
}
.text-late {
	color: #dc0303;
}
.text-in-hour {
	color: #7bce1a;
}
.btn-trash-image {
	position: absolute;
	background-color: transparent;
	border: 0;
	top: 10px;
	right: 10px;
}
.btn-trash-image:hover{
	opacity: 0.7;
}
p.name-admin{
	color: white;
	padding: 14px 26px;
	margin: 0;
}
#waitChart_table > thead > tr > th, #waitChart_table > tbody > tr > td {
	padding: 6px !important;
}
#regionChart_table > thead > tr > th, #regionChart_table > tbody > tr > td {
	padding: 4px !important;
}
/* Pagination custom */
.pagination > .disabled > a {
	color: #868e96 !important;
	background-color: #F7F5F5 !important;
}

@media (min-width: 768px) {
	.sidebar-toggle {
    	display: none;
  	}
}
@media (min-width: 1024px) {
	.chart-container {
	  position: relative;
	  width: 88%;
	}
}
@media screen and (max-width: 767px) {
	.sidebar-toggle {
    	display: block;
  	}
}